# Archivos y directorios de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.env
*.env
*.egg-info/
dist/
build/
*.log

# Archivos de VS Code
.vscode/

# Otros
*.DS_Store

# PDF's
*.pdf

# Carpetas
Ejercicios Tipler/
PIFD/
Ejercicios Propuesta/